<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>
            contiene la direccion donde se buscara el  servidor LDAP o activeDirectory
        </description>
        <param-name>servidor</param-name>
        <param-value>ldap://192.168.72.31:389</param-value>
    </context-param>
    <context-param>
        <description>la forma en la que se autenticara al ldap</description>
        <param-name>tipoAutenticacion</param-name>
        <param-value>simple</param-value>
    </context-param>
    <context-param>
        <description>el nombr del dominio del del usuario</description>
        <param-name>dominio</param-name>
        <param-value>PATH-II</param-value>
    </context-param>
    <context-param>
        <description>usuario para la base de Mysql</description>
        <param-name>mySqlUser</param-name>
        <param-value>mySqlUser</param-value>
    </context-param>
    <context-param>
        <description>mySqlClave</description>
        <param-name>mySqlClave</param-name>
        <param-value>mySqlClave</param-value>
    </context-param>
    <context-param>
        <param-name>mySqldireccionIP</param-name>
        <param-value>mySqldireccionIP</param-value>
    </context-param>
    <context-param>
        <description>mySqlPuerto</description>
        <param-name>mySqlPuerto</param-name>
        <param-value>mySqlPuerto</param-value>
    </context-param>
    <context-param>
        <description>mySqlBD</description>
        <param-name>mySqlBD</param-name>
        <param-value>mySqlBD</param-value>
    </context-param>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    </web-app>